/* Top Padding for responsive navbar-top-fixed */
body { /* Add top padding for full-width layout */
  padding-top: 80px;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
}

h1 > a {
  color: rgb(157,38,29);
}

h1 > a:hover {
  color: rgb(157,38,29);
  text-decoration: none;
  /* JHL TODO: border-bottom: 1px #a41e22 dotted; */
}

a {
  color: rgb(157,38,29);
}

ul.bricks > li {
    display: inline;
    padding: 3px;
    border-radius: 2px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}



h1, h2, h3, h4, h5, h6, h7 {
    margin-top: -40px;
    padding-top: 40px;
    font-family: Bitter;
    font-weight: 300;
}

.postbox {
    border-bottom: none;
    margin-bottom: 12px;
}

div.postbox ul li {
    line-height: 24px;
    font-size: 16px;
}
/***** navbar customisations  *****/

div.navbar {
    font-size: 14px;
    line-height: 20px;
    border-top: 3px solid rgb(157,38,29);
    border-bottom: 1px solid rgb(0, 0, 0);
}


.navbar-inner{
    background: none;
    filter: none;
    border:none;
    box-shadow: none!important;
    -webkit-box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    background-color: rgb(0,0,0); 
    line-height: 30px; /* support extra large height */
}

.brand{
    text-shadow: none!important;
}

.navbar .brand {
  color: rgb(255,255,255);
   line-height: 30px; /* support extra large height */
}

.navbar .nav > li > a{
    text-shadow: none;
    color: rgb(220,220,220);
    line-height: 30px; /* support extra large height */
}

.navbar .nav > li > a:hover{
    color: rgb(255,255,255);
    background-color: rgb(157,38,29);
}

.navbar .nav > li > a:focus{
    color: rgb(255,255,255);
    background-color: rgb(157,38,29);
}


/* Sets the colour to the selected item */
.navbar .nav > .active >a{
    color: rgb(255,255,255);
    background-color: rgb(157,38,29);  
}


.navbar .nav > .active >a:focus{
    color: rgb(255,255,255);
    background-color: rgb(157,38,29);
}

.navbar .nav > .active >a:hover{
    color: rgb(255,255,255);
    background-color: rgb(157,38,29);  
}

/* Custom colors for navbar button */
.navbar .btn-navbar,
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar:disabled{
    color: rgb(255,255,255);
    background-color: rgb(157,38,29);  
    background-image: none; /* colors don't take effect while the original background is in place */
    text-shadow:none;

}


.footerbox {padding: 15px; text-align: center; margin-bottom: 0px;} 

/* original site template theme.css */

/*body {
  padding-top: 60px;
}
*/

/*
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
*/

#container {
    width: 960px;
    margin: 50 auto;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

img {
    max-width: 90%;
}

/*
.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
}
*/

/* .footerbox {padding: 15px; text-align: center; margin-bottom: 15px;} */

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}

.caption {
    /* Issue 292 */
    text-align: center;
}

div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sidebar, div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning {
    /* Issue 277 */
    border: 1px solid #aaa;
    border-radius: 5px;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

/*ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}
*/

/*
h1, h2, h3, h4, h5, h6, h7 {
    margin-top: -40px;
    padding-top: 40px;
}
*/

/* Keep media queries at the end of the css file */
@media (max-width: 979px) {
    body { /* Remove top padding when top navbar goes static */
        padding-top: 0;
    }
}